<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{% block title %}Administración de cursos{% endblock %}</title>
    <style>
		.form-create {
			width: 100%;
			max-width: 330px;
			padding: 15px;
			margin: 0 auto;
		}
	</style>
</head>

<body class="text-center">
    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
